<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Connect2LeadsLeadProcess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Connect2LeadsLeadProcess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Connect2LeadsLeadProcess.Properties.Settings>
            <setting name="theLogfilePath" serializeAs="String">
                <value>C:/Connect2LeadsLogs/Leadfeed_log.txt</value>
            </setting>
        </Connect2LeadsLeadProcess.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Connect2LeadsLeadProcess.Properties.Settings>
            <setting name="theConnectString" serializeAs="String">
                <value>Allow User Variables=False;database=connect2leads;server=localhost;password=Tony8866478;User Id=root</value>
            </setting>
            <setting name="theLeadPostURL" serializeAs="String">
                <value>http://www.virtualacd.biz/intelliqueue/system/listloader/ListLoader.cfm</value>
            </setting>
        </Connect2LeadsLeadProcess.Properties.Settings>
    </userSettings>
</configuration>