<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Connect2Leads.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
    <remove name="LocalMySqlServer"/>
    <add name="LocalMySqlServer" connectionString="Allow User Variables=False;database=connect2leads;server=localhost;password=Tony8866478;User Id=root" providerName="MySql.Data.MySqlClient"/>


  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!-- maxRequestLength limit in kilobytes [2GB max.] -->
    <!-- 2097151 kilobytes is the maximum limit for http request -->
    <httpRuntime maxRequestLength="20048" />
      
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>


    <webServices>
      <protocols>
        <add name="HttpPost"/>
        
      </protocols>
      
    </webServices>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <applicationSettings>
    <Connect2Leads.Properties.Settings>
      <setting name="theLogfilePath" serializeAs="String">
        <value>C:/Connect2LeadsLogs/upload_log.txt</value>
      </setting>
      <setting name="Connect2Leads_biz_virtualacd_www_SystemUserGatewayService"
        serializeAs="String">
        <value>http://www.virtualacd.biz/intelliqueue/admin/api/SystemUserGateway.cfc</value>
      </setting>
    </Connect2Leads.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
